/slides/auto/functional-web-services.el
/slides/_minted-functional-web-services/
/slides/functional-web-services.aux
/slides/functional-web-services.fls
/slides/functional-web-services.log
/slides/functional-web-services.nav
/slides/functional-web-services.out
/slides/functional-web-services.pdf
/slides/functional-web-services.snm
/slides/functional-web-services.toc
/slides/functional-web-services.vrb
